.Line {
  position: fixed;
  width: 100%;
  height: 0px;
  overflow: hidden;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  stroke-dashoffset: 100;
  transition: 1s all ease-out !important;
}

.Line__svg {
  left: 50px;
  right: 50px;
  top: 0;
  position: absolute;
  vertical-align: baseline;
  transition: 0.5s all ease-out !important;
}

.Line__svg svg {
  stroke-width: 1px;
  fill-rule: evenodd;
  fill: none;
  stroke: #41f3b7;
  position: absolute;
}